<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light left-nav">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">Logo</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                  New Product Upload
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                  Product List
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                  Deleted Products
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                  Brands
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                  Categories
                </a>
              </li>
            </ul>
      
          </div>
      </div>
<!-- Right Side  -->
      <div class="col-9">
      <div class="row mt-2">
        <div class="title-2">New Product Upload</div>
      </div>
      <div class="row mt-1"> 
        <div class="col-sm-4">  
          <mat-form-field class="form-group" >
          <mat-label>Barcode Number </mat-label>
          <input matInput placeholder="Barcode Number" class="form-control">
          </mat-form-field>
      </div>
      <div class="col-sm-4">  
        <mat-form-field class="form-group" >
        <mat-label>Product Name </mat-label>
        <input matInput placeholder="Product Name " class="form-control">
        </mat-form-field>
    </div>
    <div class="col-sm-4">  
      <mat-form-field class="form-group" >
      <mat-label>Price </mat-label>
      <input matInput placeholder="Price" class="form-control">
      </mat-form-field>
  </div>

  <div class="col-sm-4">  
    <mat-form-field class="form-group" >
    <mat-label>Discount </mat-label>
    <input matInput placeholder="Discount" class="form-control">
    </mat-form-field>
</div>
<div class="col-sm-4">  
  <mat-form-field class="form-group" >
  <mat-label>Tax Amount </mat-label>
  <input matInput placeholder="Tax Amount" class="form-control">
  </mat-form-field>
</div>
<div class="col-sm-4">  
  <mat-form-field >
    <mat-label>Select Category</mat-label>
    <mat-select >
      <mat-option value="primary">Primary</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-sm-4">  
  <mat-form-field>
    <mat-label>Select Brand</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
   
  </mat-form-field>
</div>

      </div>
   <div class="row mt-1">
    <div class="col-sm-12 float-end">  
      <a href="#" target="_blank"><button mat-raised-button color="primary" class="float-end">Clear</button></a>
      <a href="#" target="_blank"><button mat-raised-button color="primary" class="float-end mx-3 ">Submit</button></a> 
     </div>
   </div>   
    </div>
<!-- End Content Are -->


    </div><!-- row -->  
</div><!-- Container Fluid -->