table {
    width: 100%;
  }
  .mt-2{
    margin-top: 20px;
  }
  .mt-1{
    margin-top: 10px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #fff !important; 
    border: #A2C4E6 solid 1px;
    border-radius: 8px !important;
}
.mx-1{
  margin-left: 10px;
  margin-right: 10px;
}

